.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  padding-top: 1rem;
  background-color: #e2edff;
}

.contact {
  padding-top: 1rem;
}
.row {
  padding-top: 1rem;
}

.jumbotron,
.contact,
#about,
#projects {
  margin: 0%;
  padding: 0%;
  border: 0;
  bottom: 0%;
  box-sizing: border-box;
}

svg {
  padding-bottom: 0%;
  bottom: 0%;
  border-bottom: 0%;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
