.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  padding-top: 1rem;
  background-color: #e2edff;
}

.contact {
  padding-top: 1rem;
}
.row {
  padding-top: 1rem;
}

#about,
#projects,
#contact {
  padding-top: 5rem;
}
